.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15%;
  background-color: #f0f0f0;
}

.logo img {
  width: 50px;
}
.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.handicrafted {
  opacity: 0.5;
  font-size: 14px;
  position: relative;
  left: 49px;
  top: 4px;
}

.info {
  display: flex;
}

.name {
  margin-top: 20px;
  font-size: 14px;
  margin-right: 10px;
}
.button-container {
  display: flex;
  justify-content: center; /* Căn giữa các nút theo chiều ngang */
  gap: 30px; /* Khoảng cách giữa các nút */
  padding:5%; 
  margin-bottom: 40px; 

}
.button-container button{
  width:250px ;
  border-radius:0;
}
.footer-custom {
  borderTop: '1px solid black'; 
  paddingTop: '20px';
  marginTop: '20px';
}
.footer-custom span{
}
